#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: flex;
  background-color: #282c34;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidemenu {
  width: 240px;
  background-color: #202123;
  padding: 10px;
}

.sidemenu-btn {
  padding: 12px;
  border-radius: 5px;
  text-align: left;
  transition: ease 0.25s all;
  cursor: pointer;
}

.sidemenu-btn span {
  padding-left: 6px;
  padding-right: 12px;
}

.sidemenu-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.chatbox {
  flex: 1;
  background-color: #343541;
  position: relative;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.chat-input-textarea {
  background-color: #40414f;
  width: 90%;
  border-radius: 5px;
  font-size: 1.25em;
  border: none;
  padding: 12px;
  outline: none;
  color: white;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

.chat-log {
  text-align: left;
}

.chat-message.chatgpt {
  background-color: #444654;
}

.chat-message-center {
  display: flex;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  background: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.avatar.chatgpt {
  background: #0da37f;
  border-radius: 50%;
  width: 41px;
  height: 41px;
}

.message {
  padding-left: 40px;
  padding-right: 40px;
}
